* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  width: 360px;
  height: 48px;
  background: #008DCD;
  border-radius: 30px;
  color: white;
  border: 0;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0px 4px 15px rgba(27, 170, 235, 0.45);
}
.modal {
  overflow: auto;
  width: 440px;
  height: 336px;
  background: #FFFFFF;
  border-radius: 32px;
  z-index: 10;
  padding: 14px;
}
.modal-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
}
.modal p {
  text-align: right;
}
.modal__content {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal__content h3 {
  margin-bottom: 30px;
}
.modal__content-form {
  display: flex;
  flex-direction: column;
}
.modal__content-form input {
  width: 359px;
  height: 48px;
  padding-left: 20px;
  border: 1px solid #008DCD;
  border-radius: 30px;
  margin-bottom: 13px;
}
.modal__content-form input::placeholder {
  color: #008DCD;
}
.modal__content-form button {
  width: 360px;
  height: 48px;
  background: #008DCD;
  border-radius: 30px;
  color: white;
  border: 0;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  width: 1440px;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
}
header {
  background-image: url(img/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header__top {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 29px;
}
.nav__block {
  color: white;
  list-style-type: none;
  display: flex;
}
.nav__block li {
  margin-right: 54px;
  cursor: pointer;
}
.nav__block li:last-child {
  margin: 0;
}
.burger {
  display: none;
}
.burger span::before {
  content: '';
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 2px;
  background-color: white;
  margin-bottom: 8px;
}
.burger span::before:last-child {
  margin-bottom: 0;
}
.header__content-h1 {
  margin-top: 88px;
  color: white;
  font-size: 48px;
  text-transform: uppercase;
}
.header__content-p {
  margin-top: 22px;
  color: white;
  font-size: 36px;
}
.header__content-btn {
  margin-top: 35px;
  margin-bottom: 155px;
  width: 360px;
  height: 48px;
  background: #008DCD;
  border-radius: 30px;
  color: white;
  border: 0;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
.header__content-btn:hover {
  box-shadow: 0px 4px 15px rgba(27, 170, 235, 0.45);
}
.about-us {
  background: #F7F7F7;
  padding-top: 90px;
  padding-bottom: 90px;
}
.about-us__block {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.about-us__img {
  margin-right: 90px;
}
.about-us__h1 {
  font-size: 36px;
}
.about-us__p {
  margin-top: 22px;
  margin-bottom: 30px;
  font-size: 16px;
}
.about-us__btn {
  width: 360px;
  height: 48px;
  background: #008DCD;
  border-radius: 30px;
  color: white;
  border: 0;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
.about-us__btn:hover {
  box-shadow: 0px 4px 15px rgba(27, 170, 235, 0.45);
}
.steps {
  padding-top: 69px;
  padding-bottom: 32px;
}
.steps__box {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-around;
}
.steps__item {
  width: 45%;
  margin-bottom: 39px;
}
.steps__item-name {
  margin-top: 41px;
  font-size: 30px;
  color: #000;
}
.steps__item-text {
  margin-top: 9px;
  font-size: 20px;
}
.send {
  background: #F7F7F7;
  padding-top: 64px;
  padding-bottom: 64px;
}
.send__box {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.send__header {
  font-size: 30px;
  color: #000;
}
.send__btn {
  width: 360px;
  height: 48px;
  background: #008DCD;
  border-radius: 30px;
  color: white;
  border: 0;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
.send__btn:hover {
  box-shadow: 0px 4px 15px rgba(27, 170, 235, 0.45);
}
.call-us {
  background: #008DCD;
  padding-top: 73px;
  padding-bottom: 39px;
}
.call-us__box {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.call-us__text-h2 {
  font-size: 40px;
  color: white;
  text-transform: uppercase;
}
.call-us__text-p {
  font-size: 24px;
  color: white;
}
.call-us__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
.call-us__form-input {
  width: 359px;
  height: 48px;
  border: 1px solid white;
  border-radius: 30px;
  padding-left: 21px;
  background-color: inherit;
}
.call-us__form-input::placeholder {
  font-size: 16px;
  color: white;
}
.call-us__form-btn {
  width: 360px;
  height: 48px;
  background: #008DCD;
  border-radius: 30px;
  color: white;
  border: 0;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 9px;
  margin-bottom: 16px;
  background: #FFCC00;
  color: #000;
}
.call-us__form-btn:hover {
  box-shadow: 0px 4px 20px rgba(255, 204, 0, 0.55);
}
.call-us__form-label {
  font-size: 10px;
  color: white;
}
.call-us__form-check {
  background-color: inherit;
}
.reviews {
  padding-top: 69px;
  padding-bottom: 57px;
}
.reviews__header {
  font-size: 36px;
  color: #000;
  margin-bottom: 53px;
}
.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.reviews__item-block {
  width: 460px;
}
.reviews__item-block-main {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.item-block-main__photo {
  margin-right: 40px;
  width: 160px;
  height: 160px;
}
.text__name {
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 11px;
}
.text__company {
  font-size: 20px;
  margin-bottom: 15px;
}
.text__ship {
  margin-bottom: 4px;
}
.text__sity {
  margin-bottom: 4px;
}
.reviews__item-block-text {
  margin-top: 26px;
  text-align: center;
}
.advantages {
  padding-top: 101px;
  padding-bottom: 80px;
  background: #F7F7F7;
}
.advantages__header {
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.advantages__items {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.advantages__item {
  width: 166px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item__logo {
  width: 160px;
  height: 160px;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.guarantees {
  padding-top: 80px;
  padding-bottom: 64px;
}
.guarantees__header {
  font-size: 36px;
  text-transform: uppercase;
}
.guarantees__items {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.guarantees__item {
  width: 369px;
}
.guarantees__item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: #F7F7F7;
  border-radius: 50%;
}
.guarantees__item-header {
  font-weight: 600;
  margin-top: 32px;
  font-size: 23px;
}
.guarantees__item-text {
  margin-top: 12px;
  font-size: 16px;
}
.guarantees__item-btn {
  margin-top: 60px;
  width: 360px;
  height: 48px;
  background: #008DCD;
  border-radius: 30px;
  color: white;
  border: 0;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
.guarantees__item-btn:hover {
  box-shadow: 0px 4px 15px rgba(27, 170, 235, 0.45);
}
.faq {
  background: #94D1EC;
  padding-top: 64px;
  padding-bottom: 64px;
}
.faq__header {
  text-transform: uppercase;
  font-size: 36px;
}
.faq__items {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.faq__item {
  display: flex;
  flex-direction: column;
  width: 49%;
  margin-bottom: 30px;
}
.faq__item-arrov {
  height: 7px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
i {
  color: black;
  font-size: 16px;
}
.faq__item-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: white;
  height: 55px;
  border-radius: 30px 30px 0 0;
  box-shadow: 0px 4px 20px rgba(124, 195, 225, 0.6);
}
.close {
  border-radius: 30px;
}
.hidden {
  display: none;
  z-index: -1;
}
.faq__item-block-open {
  padding: 15px;
  background: #F7F7F7;
  border-radius: 0 0 30px 30px;
}
.partners {
  padding-top: 58px;
  padding-bottom: 58px;
}
hr {
  margin-top: 28px;
}
.footer {
  padding-top: 31px;
  padding-bottom: 22px;
  background: #E9E9E9;
}
.footer__box-1st {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-nav {
  color: black;
}
.footer__text-h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
}
.footer__form-input {
  width: 361px;
  height: 50px;
  background-color: inherit;
  border: 1px solid black;
  border-radius: 30px;
  padding-left: 25px;
}
.footer__form-btn {
  width: 360px;
  height: 48px;
  background: #008DCD;
  border-radius: 30px;
  color: white;
  border: 0;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
.footer__form-btn:hover {
  box-shadow: 0px 4px 15px rgba(27, 170, 235, 0.45);
}
.footer__bot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
  align-items: baseline;
  cursor: pointer;
}
@media (max-width: 1438px) {
  header {
    width: 100vw;
  }
  section {
    width: 100vw;
  }
  .container {
    width: 90%;
  }
  .header__top {
    justify-content: space-around;
  }
  .guarantees__item {
    width: 30%;
  }
  .guarantees__item-btn {
    width: 100%;
  }
  footer {
    width: 100vw;
  }
}
@media (max-width: 1188px) {
  .container {
    width: 95%;
  }
  .about-us__img {
    width: 50%;
  }
  .about-us__img img {
    width: 100%;
  }
  .about-us__content {
    width: 50%;
  }
}
@media (max-width: 1049px) {
  .nav__block li {
    margin-right: 20px;
  }
  .steps__item img {
    width: 100%;
  }
  .item__logo {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 769px) {
  body {
    width: 100%;
  }
  header {
    background-image: url(img/tablet-bg.png);
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .logo img {
    width: 100px;
    height: 29px;
  }
  .nav__block li {
    font-size: 14px;
    margin-right: 25px;
  }
  .header__content-h1 {
    font-size: 29px;
  }
  .header__content-p {
    font-size: 24px;
  }
  .header__content-btn {
    width: 280px;
    font-size: 16px;
  }
  .about-us__block {
    flex-direction: row-reverse;
    justify-content: center;
  }
  .about-us__img {
    margin: 0;
  }
  .about-us img {
    width: 100%;
  }
  .about-us__h1 {
    font-size: 20px;
  }
  .about-us__p {
    font-size: 14px;
  }
  .about-us__btn {
    width: 280px;
    font-size: 16px;
  }
  .steps__item img {
    width: 100%;
  }
  .steps__item-name {
    font-size: 26px;
    font-weight: 600;
  }
  .steps__item-text {
    font-size: 16px;
  }
  .send__header {
    font-size: 28px;
  }
  .call-us__text-h2 {
    font-size: 28px;
  }
  .call-us__text-p {
    font-size: 14px;
  }
  .call-us__form {
    width: 100%;
  }
  .call-us__form-input {
    width: 100%;
    height: 48px;
  }
  .call-us__form-btn {
    width: 100%;
    height: 48px;
    font-size: 14px;
  }
  .call-us__form-label {
    display: none;
  }
  .advantages__items {
    flex-wrap: wrap;
  }
  .advantages__item {
    width: 100px;
    margin-bottom: 10px;
  }
  .item__logo {
    width: 100px;
    height: 100px;
  }
  .item__logo img {
    width: 50%;
    height: auto;
  }
  .item__text {
    font-size: 12px;
  }
  .guarantees__item {
    width: 30%;
  }
  .guarantees__item-btn {
    width: 100%;
  }
  .guarantees__item-img {
    width: 100px;
    height: 100px;
  }
  .guarantees__item-img img {
    width: 50%;
    height: auto;
  }
  .guarantees__item-header {
    font-size: 16px;
  }
  .guarantees__item-text {
    font-size: 16px;
  }
  .faq__item {
    width: 100%;
  }
  .footer__form {
    display: flex;
    justify-content: space-around;
  }
  .footer__form-input {
    width: 47%;
    margin-right: 10px;
  }
  .footer__form-btn {
    width: 47%;
  }
  .footer__text-h2 {
    font-size: 25px;
  }
  .footer__box-2d {
    display: none;
  }
  .modal {
    width: 90%;
  }
}
@media (max-width: 730px) {
  .header__nav {
    display: none;
  }
  .burger {
    display: block;
  }
  .header__top {
    justify-content: space-between;
  }
}
@media (max-width: 605px) {
  .guarantees__item {
    width: 47%;
  }
  .guarantees__items .guarantees__item:last-child {
    display: none;
  }
  .footer__box-1st {
    flex-direction: column;
  }
  .footer__text {
    margin-bottom: 7px;
  }
  .footer__bot p:last-child {
    display: none;
  }
}
@media (max-width: 410px) {
  .modal__content-form {
    width: 100%;
  }
  .modal__content-form input {
    width: 95%;
  }
  .modal__content-form button {
    width: 95%;
  }
}
@media (max-width: 376px) {
  header {
    background-image: url(img/mob-bg-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 288px;
  }
  .container {
    width: 100%;
  }
  .header__nav {
    display: none;
  }
  .header__content {
    display: none;
  }
  .about-us {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .about-us__block {
    flex-direction: column;
    align-items: center;
  }
  .about-us__img img {
    width: 278px;
  }
  .about-us__btn {
    width: 100%;
  }
  .steps__item {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .steps__item img {
    align-self: center;
  }
  .send__box {
    flex-direction: column;
  }
  .send__btn {
    margin-top: 9px;
    width: 100%;
  }
  .call-us__box {
    flex-direction: column;
  }
  .call-us__form {
    margin-top: 20px;
  }
  .advantages__item {
    width: 30%;
    margin-bottom: 15px;
  }
  .advantages__items {
    flex-wrap: wrap;
  }
  .swiper-arrow {
    display: none;
  }
  .guarantees {
    display: none;
  }
  .footer__box-1st {
    display: none;
  }
}
